/* body */
body {
    height: 100%;
    min-width: 320px;
    position: relative;
    line-height: 1.75;
    color: #404142;
    font: 400 16px osr,Arial,Helvetica,sans-serif;
}

/* header */
header{
    background: #F0F1F4; 
    width: 100%;
    padding: 13px 0px;
}

header .fa {
    color: #5555AA;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #404142;
} 

a:hover, a:active {
    color: #5555AA;
    text-decoration: none;
}

/* map */
.map .col {
	padding:0;
}

/* navigation */
.navbar-toggler {
    border-color: #5555AA;
}

.navbar-brand img{
    width: 170px;
    height: 55px;
}

.navbar {
    color: #404142;
}

.navbar ul li a {
    font-size: .85em;
    margin-left: 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

li a:active {
    background-color:  #CAECFB;
    color: #4E4E50;
}

nav .fa {
    color: #5555AA;
}

/* footer*/
footer { 
    padding-bottom: 20px;
    padding-top: 20px;
    background: linear-gradient(to bottom, #F0F1F4, #fff);
}

.footerLogo img {
    width: 165px;
    height: 110px;
}

.footerFriends img {
    width: 190px;
    height: 42px;
}

.contactDetails i {
    color: #5555AA;
    width: 20px; 
}

.contactDetails, .footerLocation {
    display: flex;
    align-items: center;
}

.footerSocialNetwork a {
    color: #A9A9A9;
} 

.footerSocialNetwork a:active, .footerFriends {
    color: #5555AA;
}

.footerSocialNetwork span {
    font: 400 24px 'Satisfy', cursive;
}

.footerSocialNetwork .fa {
    display: flex;
    justify-content:center; 
}

/*Slider*/
.slider h1 {
	margin-top: 20px;
	font: 700 42px 'Amatic SC', cursive;
	color: #fff;
}

.slider p {
	margin-top: 30px;
	color: #fff;
	line-height: 1.5 ;
}

@media only screen and (min-width: 769px) {
    li a.active, li a:hover:not(.active) {  /*navigation*/
        background-color: #FF6600;
        color: white;
    }
     .footerSocialNetwork a:hover, a:active {  /*footer*/
    color: #5555AA;
    }
    .footerPhoneNumber, .footerLocation, .footerClock  {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }
    .contactDetails {
        display:block;
    }
}

@media (max-width: 769px) {     /*Slider */
    .slider h1 {
        font-size: 1.8rem;
    }
    .slider p {
        font-size: 0.9rem;
    }
}
