/* body */
body {
    height: 100%;
    min-width: 320px;
    position: relative;
    line-height: 1.75;
    color: #404142;
    font: 400 16px osr,Arial,Helvetica,sans-serif;
}

/* header */
header{
    background: #F0F1F4; 
    width: 100%;
    padding: 13px 0px;
}
header .fa {
    color: #5555AA;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #404142;

} 
a:hover, a:active {
color: #5555AA;
text-decoration: none;
}

/* map */
.map .col {
	padding:0;
}

/* footer*/
.footer .row {
    margin-top: 30px;
}