@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
	background-color: #D3D3D3;
	font-family: "Rubik";
	font-weight: 300;
	font-size: 16px;
	color: #000000;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

	margin-top: 0px;
}

.header {
	background-color: #F0F1F4;
}

h1, h2, h3, h4, h5 {
	font-family: "Rubik";
	font-weight: 300;
	color: #2000;
}

p {
	line-height: 28px;
	margin-bottom: 25px;
}
.centered {
	text-align: center;
}
a {
	color:#000000;
}

a:hover, a:focus {
	color: #000000;
	text-decoration: none;
	outline: 0;
}
.fa-insatagram {
	size: 50px;
}
